<!DOCTYPE html>
<html>
<head>
  <title>Crockue</title>
  <%= stylesheet_link_tag    "flarks", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "three.min" %>
  <%= javascript_include_tag "tuna" %>
  <%= javascript_include_tag "face" %>
  <%= javascript_include_tag "ccv" %>
  
</head>
<body>

<%= yield %>

</body>
</html>
